In [21]:
import import_ipynb
import data_preprocessing

In [22]:
import pca_analysis

In [23]:
y_binary = pca_analysis.y_binary
x = pca_analysis.x

In [24]:
from sklearn.ensemble import RandomForestClassifier
import pandas as pd

In [25]:
feature_names = x.columns.tolist()
forest = RandomForestClassifier(n_estimators=100 , random_state=42)
forest.fit(x,y_binary)
importances = forest.feature_importances_
feature_importance_df = pd.DataFrame({'feature': feature_names , 'importance': importances})
feature_importance_df = feature_importance_df.sort_values(by='importance', ascending=False)

In [26]:
feature_importance_df

     feature  importance
7    thalach    0.116792
2         cp    0.107623
11        ca    0.106568
12  thal_3.0    0.105515
9    oldpeak    0.104576
0        age    0.086453
4       chol    0.085206
3   trestbps    0.068128
14  thal_7.0    0.064403
8      exang    0.051481
10     slope    0.040111
1        sex    0.029782
6    restecg    0.017962
5        fbs    0.012075
13  thal_6.0    0.003325

In [27]:
selected_features = feature_importance_df['feature'].head(9).tolist()
x_selected_RF = x[selected_features]

In [28]:
x_selected_RF

,thalach,cp,ca,thal_3.0,oldpeak,age,chol,trestbps,thal_7.0
0,0.017197,1.0,0.0,0.0,0.9375,0.948726,-0.125000,0.75,0.0
1,-1.821905,4.0,3.0,1.0,0.4375,1.392002,0.703125,1.50,0.0
2,-0.902354,4.0,2.0,0.0,1.1250,1.392002,-0.187500,-0.50,1.0
3,1.637359,3.0,0.0,1.0,1.6875,-1.932564,0.140625,0.00,0.0
4,0.980537,2.0,0.0,1.0,0.3750,-1.489288,-0.578125,0.00,0.0
...,...,...,...,...,...,...,...,...,...
298,-0.770990,1.0,0.0,0.0,0.2500,-1.046013,0.359375,-1.00,1.0
299,-0.376896,4.0,2.0,0.0,1.6250,1.502821,-0.750000,0.70,1.0
300,-1.515388,4.0,1.0,0.0,0.2500,0.283813,-1.718750,0.00,1.0
301,1.068113,2.0,1.0,1.0,-0.5000,0.283813,-0.078125,0.00,0.0
302,1.024325,3.0,0.0,1.0,-0.5000,-1.821745,-1.031250,0.40,0.0

In [29]:
from sklearn.feature_selection import RFE , SelectKBest , chi2
from sklearn.linear_model import LogisticRegression

In [30]:
model = LogisticRegression(max_iter=100)
rfe = RFE(model,n_features_to_select=9)
fit = rfe.fit(x,y_binary)
selected_features_rfe = x.columns[fit.support_]

In [31]:
selected_features_rfe

Index(['sex', 'cp', 'trestbps', 'fbs', 'exang', 'oldpeak', 'slope', 'ca',
       'thal_7.0'],
      dtype='object')

In [32]:
x_selected_RFE = x[selected_features_rfe]

In [33]:
x_selected_RFE

     sex   cp  trestbps  fbs  exang  oldpeak  slope   ca  thal_7.0
0    1.0  1.0      0.75  1.0    0.0   0.9375    3.0  0.0       0.0
1    1.0  4.0      1.50  0.0    1.0   0.4375    2.0  3.0       0.0
2    1.0  4.0     -0.50  0.0    1.0   1.1250    2.0  2.0       1.0
3    1.0  3.0      0.00  0.0    0.0   1.6875    3.0  0.0       0.0
4    0.0  2.0      0.00  0.0    0.0   0.3750    1.0  0.0       0.0
..   ...  ...       ...  ...    ...      ...    ...  ...       ...
298  1.0  1.0     -1.00  0.0    0.0   0.2500    2.0  0.0       1.0
299  1.0  4.0      0.70  1.0    0.0   1.6250    2.0  2.0       1.0
300  1.0  4.0      0.00  0.0    1.0   0.2500    2.0  1.0       1.0
301  0.0  2.0      0.00  0.0    0.0  -0.5000    2.0  1.0       0.0
302  1.0  3.0      0.40  0.0    0.0  -0.5000    1.0  0.0       0.0

[303 rows x 9 columns]

In [34]:
x_selected_RF

,thalach,cp,ca,thal_3.0,oldpeak,age,chol,trestbps,thal_7.0
0,0.017197,1.0,0.0,0.0,0.9375,0.948726,-0.125000,0.75,0.0
1,-1.821905,4.0,3.0,1.0,0.4375,1.392002,0.703125,1.50,0.0
2,-0.902354,4.0,2.0,0.0,1.1250,1.392002,-0.187500,-0.50,1.0
3,1.637359,3.0,0.0,1.0,1.6875,-1.932564,0.140625,0.00,0.0
4,0.980537,2.0,0.0,1.0,0.3750,-1.489288,-0.578125,0.00,0.0
...,...,...,...,...,...,...,...,...,...
298,-0.770990,1.0,0.0,0.0,0.2500,-1.046013,0.359375,-1.00,1.0
299,-0.376896,4.0,2.0,0.0,1.6250,1.502821,-0.750000,0.70,1.0
300,-1.515388,4.0,1.0,0.0,0.2500,0.283813,-1.718750,0.00,1.0
301,1.068113,2.0,1.0,1.0,-0.5000,0.283813,-0.078125,0.00,0.0
302,1.024325,3.0,0.0,1.0,-0.5000,-1.821745,-1.031250,0.40,0.0